# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnpm-store

# dist
/dist
*.tgz

# misc
.DS_Store
.env
.claude/launch.json
.claude/settings.local.json
